
nav {
    background-color: #15291d;
    padding: 5px;}

nav ul{
    text-align: center;
    font-size: 1.2em;}

nav ul li  {
    list-style-type: none;
    background-color: #B2B2B2;
    display: inline;
    padding: 15px;
    margin:5px;
    border:2px solid  #cdf059;
    border-radius:10px}
nav ul li a {
    color: white;
    text-decoration: none;}

nav ul li:hover 
{ background-color : rgb(244, 244, 21);}

header {
  background-color:  #cdf059 ;
  padding : 10px     
}

h1{ text-align: right; }

footer {
    margin: 0;
    position:fixed;
    bottom: 0px;
    width: 100%;
    background-color:  rgba(42, 46, 2, 0.91) ;
    padding :6px;
    
}


#active {
    border:4px dotted rgba(91, 99, 3, 0.91);
 }

body {
    font-family: Verdana;
    margin:0;
}



h1, h2{ 
        color: rgba(125, 129, 84, 0.91);}

footer p {
            text-align: center;
            color : rgb(200, 241, 193);}

p{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;}       

.maxDisplay
{
    max-height: 350px;
    overflow: auto;}

#bigPic {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        border: 7px solid rgba(42, 46, 2, 0.91);}

.border {
    border: 5px dashed rgba(42, 46, 2, 0.91);
}
.other {
    margin-left:30%;
    margin-right:30%;
    border: 6px solid white;
    width:37%;
}
.logo
{
    float:left; margin-right:10px;border-radius: 30px;border: 2px solid rgb(4, 22, 4);
}

   